.marquee {
    position: relative; /* Centers the marquee inside whatever area you put it. */
    background-color: white; /* Edit as you please. */
    border: 1px black dotted; /* Edit as you please. */
    width: auto; /* Edit as you please. */
    height: 40px; /* Edit as you please. */
    overflow: hidden; /* Prevents the images from all showing at once. */
}

.scroll {
    display: block;
    position: absolute;
    white-space: nowrap;
    /* edit the time variable inline. Make sure to include the unit (such as s for seconds) in the inline as well.*/
    animation: scroll var(--time) linear infinite;
}
/* When hovered with a mouse, the scroll will pause movement. This is optional*/
.scroll:hover {
    animation-play-state: paused;
}
/* This ensures that images (in this case buttons) stay the same height, to not break the marquee box */
.scroll img{
    max-height: 31px;
    width: auto;
}

/* To ensure smooth scrolling, you need to edit the values as best fits, IN you inline scroll (aka not here in the css sheet).
To make it easier have a temporary, unique 'start' and 'end' item.
Use the 'end' item to track when the animation returns to 'start'.*/
@keyframes scroll {
    from { transform: translateX(var(--from-width)); }
    to { transform: translateX(var(--to-width)); }
}

